# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=myuser
DB_PASSWORD=myuser
DB_NAME=my_db

# Server Configuration
PORT=5000

# Client Configuration
NEXT_PUBLIC_API_URL=http://localhost:5000